<?xml version="1.0" encoding="UTF-8" ?>
<odoo>

         

        <menuitem id="res_sale_search_menu" 
        parent="sale.sale_menu_root"
        action="action_sale_search_assistant_wizard_form" 
        sequence="10" groups="group_search_assistant_user" />

        <menuitem id="res_purchase_search_menu" 
        parent="purchase.menu_purchase_root"
        action="action_purchase_search_assistant_wizard_form" 
        sequence="150" groups="group_search_assistant_user" />

        
</odoo>